<!DOCTYPE html>
<html lang="{{ locale }}" data-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="/static/icon.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@3.30.0/dist/tabler-icons.min.css">
    <link rel="stylesheet" href="/static/homino.css?v=13">

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script type="text/javascript" src="/static/homino.js?v=2"></script>
    <title>{{ _("Latest Events") }}</title>
</head>

<body>
<section class="section">
    <div class="container">

        {% include "navbar.html" %}

        {% include "index_history.html" %}

    </div>
</section>
</body>
</html>
