<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/static/icon.svg" width="72" height="72">
        </a>

        <a role="button" id="burger-button"
           onclick='document.getElementById("burger-button").classList.toggle("is-active"); document.getElementById("home-navbar").classList.toggle("is-active")'
           class="navbar-burger" aria-label="menu" aria-expanded="false"
           data-target="home-navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="home-navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/index">
            <span class="icon ws-enabled">
                <i class="ti ti-home"></i>
            </span>
                <span>{{ _("Home") }}</span>
            </a>
            <a class="navbar-item" href="/collections">
                <span class="icon ws-enabled">
                <i class="ti ti-list"></i>
            </span>
                <span>{{ _("Collections") }}</span>
            </a>
            {% if user.configure and loki_base_url %}
            {% if appliance is defined %}
                {% set logs_href = make_loki_url(loki_base_url, appliance.name, loki_datasource_uid) %}
            {% elif collection is defined %}
                {% set logs_href = make_loki_url(loki_base_url, collection, loki_datasource_uid) %}
            {% else %}
                {% set logs_href = make_loki_url(loki_base_url, None, loki_datasource_uid) %}
            {% endif %}
            <a class="navbar-item" href="{{ logs_href }}" target="_blank" rel="noopener">
                <span class="icon ws-enabled">
                <i class="ti ti-clipboard"></i>
            </span>
                <span>{{ _("Logs") }}</span>
            </a>
            {% endif %}
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                {% if user %}
                <div class="buttons">
                    <span class="is-size-6 has-text-info mr-3" style="align-self: center;">{{ user.id }}</span>
                    <form action="/logout" method="post">
                        <input class="button is-light" type="submit" value="{{ _('Logout') }}">
                    </form>
                </div>
                {% else %}
                <div class="buttons">
                    <a class="button is-light"
                       onclick="toggleModal('modal-login')">
                        {{ _("Login") }}
                    </a>
                </div>
                {% endif %}
                {% include "login.html" %}
            </div>
        </div>
    </div>
</nav>
