<div class="modal" id="modal-send-{{ bean.id }}" style="pointer-events: auto;">
    <div class="modal-background" onclick="toggleModal('modal-send-{{ bean.id }}')"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Send <em>{{ bean.label }}</em></p>
            <button onclick="toggleModal('modal-send-{{ bean.id }}')"
                    class="delete" aria-label="close"></button>
        </header>
        <div id="modal-send-body-{{ bean.id }}">
        </div>
    </div>
</div>
