{% include templates_dir + "/event/label.html" %}
<div class="column">
    <div class="is-flex is-align-items-center">
        <span class="icon has-text-grey-dark mr-2">
            <i id="{{ bean.id_icon }}" class="{{ bean.icon }}"></i>
        </span>
        {% if user.edit %}
        <div class="select is-fullwidth">
            <select name="value" id="{{ bean.id }}" form="form-{{ bean.id }}" {% if not bean.enabled %} disabled {% endif %}>
                {% for choice, label in bean.choices %}
                    <option value="{{ choice.value }}"
                            {% if label == bean.value %} selected {% endif %}>{{ _(label) }}</option>
                {% endfor %}
            </select>
        </div>
        {% else %}
        {% include templates_dir + "/event/value_label.html" %}
        {% endif %}
    </div>
</div>
